%ul{class:'nav nav-pills'}
  %li{role: 'presentation', class: @area.present? ? '' : 'active'}
    %a{href: '/admin/clusters'} Clusters
  %li{role: 'presentation', class: @area.present? ? 'active' : ''}
    %a{href: '/admin/areas'} Areas