- @nations.each do |nation|
  .well
    %p
      %a.pull-right{href: nation.province.url, target: "_blank"}
        %i.fa.fa-external-link
      %span.title 
        = nation.province.name
    = nation.content