.row
  .col-md-12
    %p.well
      %span.title 
        AFRICA
        %a{href:"http://tssf.org.za/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Ghana

    %p
      %span.title Wales, Severn, West Midlands and The Marches Cluster
      %br
      Link Tertiary: Tim Higgins
    .row
      .col-md-6
        %p
          %span.title Midlands West Area
          %br
          Area Minister: Daphne Cook
          %br
          Area FG: Alan Williams
          %br
          Area NG: Bev Armer
          %br
          Secretary & Comms: Christine Stockford
          %br
          Treasurer: Carol Norfolk
          %br
          Birmingham City: Giles Kendall
          %br
          Birmingham South: Daphne Cook
          %br
          Coventry: Lesley Lee
          %br
          Walsall: Richard Williams
      .col-md-6
        %p
          %span.title Shrewsbury Area
          %br
          Area Minister: Gordon Hodson
          %br
          Area FG: Janet Chesworth
          %br
          Area NG: Leila Baynes
          %br
          Secretary & Comms: John Vernon
          %br
          Treasurer: Pamela Freeman
          %br
          Chester & NE Wales: Katriona Moulton assisted by Sandy Boyne
          %br
          Mid-Shropshire: Shared between all members
          %br
          Shrewsbury: Shared between all members
 
