.row
  .col-md-12
    %p.well
      %span.title 
        THE AMERICAS
        %a{href:"http://tssf.org/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Mexico

    %p
      %span.title South West England Cluster
      %br
      Link Tertiary: Hazel Sharp
    %p
      %span.title Somerset Area
      %br
      Area Minister: Shirley Farrington
      %br
      Area FG: Jess Bromfield
      %br
      Area NG: Shirley Farrington
      %br
      Secretary, Treasurer & Comms: Christopher Jenkins
      %br
      JPIC: Julie Kimber
      %br
      Illminster (Acting): Jess Bromfield
      %br
      La Verna: Sylvia Sims
      %br
      Langport & Wells: Christopher Jenkins
      %br
      Taunton: Marlene Phillips