.row
  .col-md-12
    %p.well
      %span.title 
        EUROPE
        %a{href:"http://tssf.org.uk/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Sweden, Ireland & Scotland

    %p All Enquirers, Aspirants, Postulants and Novices