.row
  .col-md-12
    %p.well
      %span.title 
        THE AMERICAS
        %a{href:"http://tssf.org/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Caribbean, Trinidad and Tobago, Dominican Republic, Jamaica, Nevis, Costa Rica

 

    %p
      %span.title South West England Cluster
      %br
      Link Tertiary: Rona Duncan
    .row
      .col-md-6
        %p
          %span.title Wessex Area
          %br
          Area Minister: Renee Coulson
          %br
          Area FG: Anne Bennett-Shaw & Ann Morland
          %br
          Area NG: Michael Sammes
          %br
          Secretary & Comms: Renee Coulson
          %br
          Treasurer: Bill Markham
          %br
          JPIC: Joanna Woodd
          %br
          Bournemouth :Graham Newton
          %br
          North: Wilts Vacant
          %br
          Salisbury: Simon & Becky Wilkinson
          %br
          Warminster: Anne Bennett-Shaw
