.row
  .col-md-12
    %p
      %span.title Canada

    %p
      %span.title Wales, Severn, West Midlands and The Marches Cluster
      %br
      Link Tertiary: David Norwood
    .row
      .col-md-6
        %p
          %span.title Mercia Area
          %br
          Area Minister: Peter Dixon
          %br
          Area Formation Guardian: Andrew Baker
          %br
          Area Novice Guardian: Simon Mansfield
          %br
          Secretary/Treasurer/Comms: John Lovatt
          %br
          Cheshire: Ann Percival
          %br
          Mercia South: Catherine Lewis
          %br
          North Staffs: Marion Woolliscroft
      .col-md-6
        %p
          %span.title Midlands West Area
          %br
          Area Minister: Daphne Cook
          %br
          Area Formation Guardian: Alan Williams
          %br
          Area Novice Guardian: Anne Vincent
          %br
          Secretary:vacant
          %br
          Treasurer: Carol Norfolk
          %br
          Comms: Christine Stockford & Alan Williams
          %br
          Birmingham City: Giles Kendall
          %br
          Birmingham South: Daphne Cook
          %br
          Coventry: Lesley Lee
          %br
          Walsall: Richard Williams
