.row
  .col-md-12
    %p.well
      %span.title 
        AFRICA
        %a{href:"http://tssf.org.za/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Uganda, Zimbabwe

    %p
      %span.title London and South East England Cluster
      %br
      Link Tertiary: John Wiltshire
    .row
      .col-md-6
        %p
          %span.title London East and Essex South Area
          %br
          Area Minister: Amanda Keighley
          %br
          Area FG: Susan Hill
          %br
          Area NG: Beryl Warren
          %br
          Secretary & Comms: Leslie Johnson 
          %br
          Treasurer/Retreats Secretary: Maria Fox
          %br
          Brussels/Vienna: Mark Barwick
          %br
          Chelmsford: Elizabeth Kerry
          %br
          London East: Karen Vincent
          %br
          Loughton: Ellie Grace Meadows
          %br
          Southend: Lesley Watkin
      .col-md-6
        %p
          %span.title London South Area
          %br
          Area Minister: Bruce Driver
          %br
          Area FG: Susan Height
          %br
          Area NG: Alison Judge
          %br
          Secretary & Comms: Anne Marie Organ
          %br
          Treasurer: Penny Bell-Wright
          %br
          Clapham & Brixton: Jane Morley
          %br
          Croydon: David Swain
          %br
          Riverside: David Bagott
          %br
          South East London: Jenny Standage

