.row
  .col-md-12
    %p.well
      %span.title 
        AFRICA
        %a{href:"http://tssf.org.za/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Tanzania, Zambia

    %p
      %span.title London and South East England Cluster
      %br
      Link Tertiary: John Wiltshire
    .row
      .col-md-6
        %p
          %span.title London West Area
%br
Area Minister: Nick Mercer
%br
Area FG: Lydia McLean
%br
Area NG: Denise Yeldham
%br
Secretary & Treasurer & Comms: Nick Mercer
%br
JPIC: Denise Yeldham
%br
Chelsea: Enid Long
%br
Finland: Matti Kristola
%br
Middlesex: Ann Badhams & Sylvia Palmer
%br
North London: Emily Miller
%br
Paddington: Mary Tweedie

%p
%span.title Canterbury Area
%br
Area Minister: Roz Graham
%br
Area FG: David de Verny
%br
Area NG: Ernest Gray
%br
Secretary & Comms: Charlotte Ferris
%br
Treasurer: Tom Platt
%br
JPIC: John Morrison
%br
Canterbury: Grahame Whittlesea
%br
Faversham: Vacant
%br
Folkestone: Janet Thornby
%br
Medway: Ernie Gray
%br
Sandwich: Charlotte Ferris
 
