.row
  .col-md-12
    %p.well
      %span.title 
        AFRICA
        %a{href:"http://tssf.org.za/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Durban and Johannesburg

    %p
      %span.title Wales, Severn, West Midlands and The Marches Cluster
      %br
      Link Tertiary: Tim Higgins
    .row
      .col-md-6
        %p
          %span.title Wyevern Area
          %br
          Area Minister: Mary Smith
          %br
          Area FG: Sarah Cawdell
          %br
          Area NG: Barbara Foster
          %br
          Secretary & Comms: Penelope Bridstrup
          %br
          Treasurer: Ann Corby
          %br
          Hereford: Joy Sabine & Michael Cluett
          %br
          Kidderminster: Pauline Wilkinson
          %br
          Ludlow: Penelope Bridstrup
          %br
          Malvern: Ruth Wintle
          %br
          Teme: Barbara Foster
      .col-md-6
        %p
          %span.title Mercia Area
          %br
          Area Minister: John Lovatt
          %br
          Area FG: Andrew Baker
          %br
          Area NG: Simon Mansfield
          %br
          Secretary, Treasurer & Comms: Noel Lovatt
          %br
          Mercia South: Catherine Lewis
          %br
          North Staffs: Marion Woolliscroft
          
