.row
  .col-md-12
    %p
      %span.title Cape Town & Eastern Cape and Kokstad

    %p
      %span.title Central South England Cluster
      %br
      Link Tertiary: Roger Healey
    .row
      .col-md-6
        %p
          %span.title Guildford Area
          %br
          Area Minister: Vacant
          %br
          Area Formation Guardian: Jane Gilbe
          %br
          Area Novice Guardian: Richard Jefferies
          %br
          Secretary: Stella Tassell
          %br
          Treasurer & Comms: Molly Kingham
          %br
          JPIC: Ann Hussey
          %br
          Farnham: Gillian Pain
          %br
          Mole Valley: Scilla Wallis
          %br
          Wey Valley: Diane Peters
          %br
          Wey Valley Lunchtime: Jill Henderson
      .col-md-6
        %p
          %span.title Channel Islands Area
          %br
          Area Minister: Jan le Billon
          %br
          Area Formation Guardian: Margaret Boden-Heaume
          %br
          Area Novice Guardian: Christine Shaw
          %br
          Secretary & Comms: Anita Carey
          %br
          Treasurer: Sue Dryden
          %br
          Guernsey: Anita Carey
          %br
          Jersey: Angela Le Sueur