.row
  .col-md-12
    %p
      %span.title South Australia and Western Australia Regions

    %p
      %span.title Central and E England Cluster
      %br
      Link Tertiary: Jackie Alexander
    .row
      .col-md-6
        %p
          %span.title Northampton Area
          %br
          Area Minister: Jennie Loasby
          %br
          Area Formation Guardian: Brian Lee
          %br
          Area Novice Guardian: Ann Faulks
          %br
          Secretary & Comms: John Tearnan
          %br
          Treasurer: Brian Lee
          %br
          JPIC: Peter Cannings
          %br
          Kettering: Doreen Lambert
          %br
          Kibworth: David Faulks
          %br
          Northampton: Beryl Gill
          %br
          Rutland: Andrew Rayment & Jan Collins
      .col-md-6
        %p
          %span.title Oxford Area
          %br
          Area Minister: Steve Green
          %br
          Area Formation Guardian: Jan McLeod
          %br
          Area Novice Guardian: Will Capel
          %br
          Secretary & Comms: Joyce Day
          %br
          Treasurer: Nick Hance
          %br
          JPIC: Thalia Carr
          %br
          Retreats: Lesley Sutton
          %br
          Bedouins: Joyce Day
          %br
          Coseners: Leighton Thomas
          %br
          Isis: Nick Hance
          %br
          Pilgrims: Ginny Ross
          %br
          Seekers: Sue Green
          %br
          Siblings: Will Capel
          %br
          Stepping Stones:  Hugh Dalton
          %br
          Windrush: Margaret Williams