.row
  .col-md-12
    %p.well
      %span.title 
        AUSTRALIA WITH PAPUA NEW GUINEA AND EAST ASIA
        %a{href:"http://tssf.org.au/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Malaysia, Singapore, Hong Kong and Thailand

    %p
      %span.title Central and E England Cluster
      %br
      Link Tertiary: Jackie Alexander
    .row
      .col-md-6
        %p
          %span.title East Anglia Area
          %br
          Area Minister: Geoffrey Clement
          %br
          Area FG: David Capey
          %br
          Area NG: Rachel Cornish
          %br
          Secretary & Comms: Sharon Pendorf
          %br
          Treasurer: Anne Spalding
          %br
          Retreats Sec: Roger Rayner
          %br
          Bury St Edmunds: Margaret Ellis
          %br
          Colchester: Mary Beavan
          %br
          Ipswich: Jonathan McNabb
          %br
          Lowestoft: Colin Fowler
          %br
          Martlesham: Peggy Sargent
          %br
          North Norfolk: Jackie Alexander
          %br
          Norwich: John Minns
          %br
          Norwich Colegate: Sheila Spreadbury & Janet Tully
          %br
          South Suffolk: Shirley Raynes

      .col-md-6
        %p
          %span.title Bedfordshire / Hertfordshire Area
          %br
          Area Minister: Guy Buckler
          %br
          Area FG: Iain Lane
          %br
          Area NG & Comms: Gylyan Boielle
          %br
          Secretary: Elaine Hall
          %br
          Treasurer: Joanna Field
          %br
          Bedford & Milton Keynes: Jane Preston
          %br
          Hitchin: Barbara Ebeling
          %br
          St Albans: Pat Brown
          %br
          Welwyn: Elaine Hall