.row
  .col-md-12
    %p
      %span.title The Province of the Americas continued
      %br
      \- Caribbean: Virgin Islands, Barbados, Trinidad & Tobago, Dominican Republic, Jamaica, Nevis & Costa Rica

    %p
      %span.title Wales, Severn, West Midlands and The Marches Cluster
      %br
      Link Tertiary: David Norwood
    .row
      .col-md-6
        %p
          %span.title Avon Vale Area
          %br
          Area Minister: Peter Robbins
          %br
          Area Formation Guardian: Carolyn Tovey
          %br
          Area Novice Guardian: Pauline Shaw
          %br
          Secretary & Treasurer: David Ratcliffe
          %br
          Bristol East: Suzy Harvey & Sandy Munday
          %br
          Bristol West: Grace Rubery
      .col-md-6
        %p
          %span.title Wyevern Area
          %br
          Area Minister: Mary Smith
          %br
          Area Formation Guardian: Sarah Cawdell
          %br
          Area Novice Guardian: Barbara Foster
          %br
          Secretary & Comms: Penelope Bridstrup
          %br
          Treasurer: Ann Corby
          %br
          Hereford: Sheila Hughes
          %br
          Kidderminster: Pauline Wilkinson
          %br
          Ludlow: Penelope Bridstrup
          %br
          Malvern: Ruth Wintle 
          %br
          Teme: Barbara Foster

