.row
  .col-md-12
    %p.well
      %span.title 
        PROVINCE OF THE PACIFIC
        %a{href:"http://www.franciscanthirdorder.godzone.net.nz/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Nelson, Canterbury with Otago

    %p
      %span.title North East and North West England Cluster
      %br
      Link Tertiary: Jeremy Plummer
    .row
      .col-md-6
        %p
          %span.title Borders Area
          %br
          Area Minister: Jennifer Edie
          %br
          Area FG: Gabrielle Ayerst
          %br
          Area NG: Helen Bishopp
          %br
          Secretary & Comms: Mary Wallace
          %br
          Treasurer: Elizabeth Lowrie
          %br
          Cheviot: Patricia Kind
          %br
          Lammermuir: John Bradley
      .col-md-6
        %p
          %span.title Newcastle Area
          %br
          Area Minister: Margaret Field
          %br
          Area FG: Ruth Birnie
          %br
          Area NG: Richard Hill
          %br
          Secretary & Treasurer: Steve Bland
          %br
          Comms: Vacant
          %br
          Coast: Margaret Field
          %br
          Hexham: Jenny Kinnaird
          %br
          Newcastle: Richard Hill