.row
  .col-md-12
    %p.well
      %span.title 
        THE AMERICAS
        %a{href:"http://tssf.org/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      United States of America including Puerto Rico

    %p
      %span.title Central South England Cluster
      %br
      Link Tertiary: Roger Healey
    .row
      .col-md-6
        %p
          %span.title Sussex Area
          %br
          Area Minister: Lesley Anne Di Marco
          %br
          Area FG: Andrew Mayes
          %br
          Area NG: Teresa Chatfield
          %br
          Secretary: Vacant
          %br
          Comms: Richard Brewester
          %br
          Treasurer: Christine Moore
          %br
          Brighton Central: Kate Hall
          %br
          Chichester: Lou Scott-Joynt
          %br
          East Sussex: Phyllis Hall
          %br
          Sussex Downs: Richard Brewester
          %br
          Sussex Weald: Christine Moore
      .col-md-6
        %p
          %span.title Guildford Area
          %br
          Area Minister: Angela Tuck
          %br
          Area FG: Jane Gillbe
          %br
          Area NG: Richard Jefferies
          %br
          Secretary & JPIC: Ann Hussey
          %br
          Treasurer & Comms: Mollie Kingham
          %br
          Retreats Secretary: Stella Tassell
          %br
          Farnham: Gillian Pain
          %br
          Mole Valley: Scilla Wallis
          %br
          Wey Valley: Diane Peters
          %br
          Wey Valley Lunchtime: Jill Henderson