.row
  .col-md-12
    %p
      %span.title Society of St Francis
      %br
      Ministers General of First Order,
      %br
      Abbess of Second Order; and
      %br
      Ministers Provincial of First Order

    %p
      %span.title Wales, Severn, West Midlands and The Marches Cluster
      %br
      Link Tertiary: David Norwood
    .row
      .col-md-6
        %p
          %span.title Severn Area
          %br
          Area Minister: Tony Ross
          %br
          Area Formation Guardian: Susan Risdon
          %br
          Area Novice Guardian: Iris Trask
          %br
          Secretary & Comms: Richard Venning
          %br
          Treasurer: Adrian Noble
          %br
          JPIC: Pauline Thomas
          %br
          Cirencester: Janet Woodger
          %br
          Gloucester & the Forest: Judy Cecil
          %br
          Gloucester South: Iris Trask
          %br
          North Cotswolds: Adrian Noble
      .col-md-6
        %p
          %span.title Wales Area
          %br
          Area Minister: Ann Savage-Lewis
          %br
          Area Formation Guardian: Carolyn Waters
          %br
          Area Novice Guardian: Gina Silverman
          %br
          Secretary & Comms: John and Rosamond Evans
          %br
          Treasurer: Clive Warren
          %br
          JPIC: Gina Silverman
          %br
          Bridgend: Rosemary Price
          %br
          Brycheinog: Jonathan Morgan
          %br
          Cardiff/Gwent: Amelia Jones
          %br
          Central Cambrian: Tim Chilton
          %br
          Eryri: Fiona Huckvale
          %br
          Swansea: Ian Drew-Jones
          %br
          West Wales: John Franks