.row
  .col-md-12
    %p.well
      %span.title 
        AUSTRALIA WITH PAPUA NEW GUINEA AND EAST ASIA
        %a{href:"http://tssf.org.au/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      New South Wales A, New South Wales B regions

    %p
      %span.title East Midlands and Yorkshire Cluster
      %br
      Link Tertiary: Jan Davies
    .row
      .col-md-6
        %p
          %span.title Yorkshire West and Skipton Area
          %br
          Area Minister: Pat Bullamore
          %br
          Area FG: Elaine Applebee
          %br
          Area NG: Jan Carlin
          %br
          Secretary: Susan Degnan
          %br
          Treasurer: Roger Marks
          %br
          Comms: Jackie Cope
          %br
          Retreats Sec: Joan Turner
          %br
          JPIC: Caroline Ugbo & Jackie Worthington
          %br
          Prayer Chain Coordinator: Timothy Fox
          %br
          Airedale (Acting): Stuart Ballard
          %br
          Calderdale: Trevor Millar
          %br
          Leeds: Caroline Ugbo
          %br
          Wharfedale: John Bennett & Roger Marks
      .col-md-6
        %p
          %span.title Yorkshire South and North Derbyshire Area
          %br
          Area Minister: John Wood
          %br
          Area FG: Vacant
          %br
          Area NG: Pamela Richardson
          %br
          Secretary & Comms: Brian Clewes
          %br
          Treasurer: Sally Ross
          %br
          Chesterfield: John Wood
          %br
          Doncaster: Caroline Taylor
          %br
          Sheffield: Pamela Richardson
