.row
  .col-md-12
    %p.well
      %span.title Society of St Francis
      %br
      Ministers General of First Orders, Abbess of Second Order, Ministers Provincial of First Orders

    %p
      %span.title Central South England Cluster
      %br
      Link Tertiary: Roger Healey
    .row
      .col-md-6
        %p
          %span.title Berkshire Area
          %br
          Area Minister: Robert Dimmick
          %br
          Area FG: Andy Harris
          %br
          Area NG: Colin Bass
          %br
          Secretary & Comms: Aidan Hopkins
          %br
          Treasurer: Stephen Cousins
          %br
          JPIC: Luci Heyn
          %br
          Central: Denise Easteal
          %br
          East: Vacant
          %br
          West: John Hedges & Luci Heyn
      .col-md-6
        %p
          %span.title Winchester Area
          %br
          Area Minister: Gillian Hargraves
          %br
          Area FG: Simon McMurtary
          %br
          Area NG: Nigel Herriott
          %br
          Secretary, Treasurer & Comms: Hilary Healey
          %br
          JPIC: Penny Mole
          %br
          Southampton: Lesley Cunningham
          %br
          Winchester: Margaret Mouland
 
