.row
  .col-md-12
    %p
      %span.title South America 
      %br
      Brazil, Ecuador and Guyana

    %p
      %span.title South West England, Wales, Severn & The Marches
    .row
      .col-md-6
        %p
          %span.title Cornwall Area
          %br
          Area Minister: Olive Stevens
          %br
          Area Formation Guardian: Christine Lidgeley
          %br
          Area Novice Guardian: Yvonne Knibbs
          %br
          Secretary: Jenny Sheffield
          %br
          Treasurer: Mary Richards
          %br
          Comms: Clive Cresswell
          %br
          Liskeard: Liz Piper
          %br
          N Cornwall: vacant
          %br
          St Austell: Maggie Grigg
          %br
          St Ives: Caroline Attwood
          %br
          Truro A: Sandra Lawrance
          %br
          Truro B: Clive Cresswell
      .col-md-6
        %p
          %span.title Somerset Area
          %br
          Area Minister: Alan Cook
          %br
          Area Formation Guardian: Jess Bromfield
          %br
          Area Novice Guardian: Shirley Farrington
          %br
          Secretary/Treasurer/Comms: Chris Jenkins
          %br
          Illminster: Brenda Joynes
          %br
          La Verna: Sylvia Sims
          %br
          Langport & Wells: Chris Jenkins
          %br
          Taunton: Marlene Phillips