.row
  .col-md-12
    %p
      %span.title African Province
      %br
      Minister Provincial: Nolan Tobias
      %br
      Zimbabwe and Uganda

    %p
      %span.title London and South East England Cluster
      %br
      Link Tertiary: John Wiltshire
    .row
      .col-md-6
        %p
          %span.title London East and Essex South Area
          %br
          Area Minister and acting AFG: Amanda Keighley
          %br
          Area Formation Guardian: Jamie Hacker Hughes
          %br
          Secretary & Comms: John Fox
          %br
          Treasurer/Retreats: Maria Fox
          %br
          Chelmsford: Elizabeth Kerry
          %br
          London East: Karen Vincent
          %br
          Loughton: Beryl Warren
          %br
          Southend: Susan Hill
          %br
          Brussel/Vienna: Mark Barwick
      .col-md-6
        %p
          %span.title London South Area
          %br
          Area Minister: Bruce Driver
          %br
          Area Formation Guardian: Susan Height
          %br
          Area Novice Guardian: Alison Judge
          %br
          Secretary: Anne Marie Organ
          %br
          Treasurer: John Ansell
          %br
          Clapham & Brixton: Jane Morley
          %br
          Croydon: Lesley Warner
          %br
          SE London: Jenny Standage
          %br
          Teddington: John Ansell