.row
  .col-md-12
    %p
      %span.title PROVINCE OF AUSTRALIA with Papua New Guinea and South East Asia
      %br
      Minister Provincial: Colin Fidock
      %br
      Queensland Regions A and B

    %p
      %span.title North East and North West England Cluster
      %br
      Link Tertiary: Martin Gillham
    %p
      %span.title Durham Area
      %br
      Area Minister: Julian Ward
      %br
      Area FG: David Boddy
      %br
      Area NG: Alice Boddy
      %br
      Secretary & Comms: Susan Short
      %br
      Treasurer: David Broughton
      %br
      Durham Central: Margaret Lumley
      %br
      Durham West: Audrey Telford
      %br
      Gateshead: Brian Patterson
      %br
      Hartlepool: Rosemarie Wise
    %p
      %span.title East Midlands and Yorkshire Cluster
      %br
      Link Tertiary: Jan Davies
    %p
      %span.title Yorkshire North and East Area
      %br
      Area Minister: Carole Aconley
      %br
      Area Formation Guardian: Valerie Bucknall
      %br
      Area NG & Comms: Brenda Hewitt
      %br
      Secretary: Elizabeth Williams
      %br
      Treasurer: Jacqueline Tonkin
      %br
      Retreats Sec: Jenny Spruce
      %br
      East Riding: Geoffrey Tonkin
      %br
      Ripon: vacant
      %br
      Ryedale: William Page
      %br
      York: vacant