.row
  .col-md-12
    %p.well
      %span.title 
        AUSTRALIA WITH PAPUA NEW GUINEA AND EAST ASIA
        %a{href:"http://tssf.org.au/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Papua New Guinea

    %p
      %span.title Central and E England Cluster
      %br
      Link Tertiary: Carole Selby
    .row
      .col-md-6
    %p
      %span.title Cambridge Area
%br
Area Minister: Richard Ames Lewis
%br
Area FG: Malcolm Barratt
%br
Area NG: Sue Ginsberg
%br
Secretary: Katharine Ames Lewis
%br
Treasurer: Susan Pitts
%br
Comms: Anne Lindley
%br
Retreats Sec: Katharine Ames Lewis
%br
JPIC: Michael Taylor
%br
Cambridge 12 o'clock: Katharine Ames Lewis
%br
Fledglings: Rachel Holdforth
%br
Fourth/Fen: Janie Hull
%br
Huntingdon: Christine Green
%br
Linton: David Matthiae
%br
St Clare: Alison Campbell

      .col-md-6
    %p
      %span.title Chiltern Area
%br
Area Minister & Comms: Christopher Nickless
%br
Area FG: Sheila Hazell
%br
Area NG: Pam Masini
%br
Secretary & Treasurer: Elizabeth Nickless
%br
Ducks: Sheila Hazell
%br
Firecrest: Marie Carey
%br
Swans: Christopher Nickless
