.row
  .col-md-12
    %p.well
      %span.title 
        PROVINCE OF THE PACIFIC
        %a{href:"http://www.franciscanthirdorder.godzone.net.nz/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Solomon Islands of Ysabel and Malaita

%p
%span.title Sweden Area
%br
Area Minister & Comms: Christer Säll
%br
Area FG: Per Abrahamsson
%br
Area NG: Margareta Stiernspetz
%br
Secretary: Jan-eric Jonsgärden
%br
Treasurer: Katarina Jansson Jerkeman
%br
Falun: Brita Ekholm
%br
Göthenborg: Niklas Lindén
%br
Linköping: Mats Fransson
%br
Stockholm: Marie Fredin
%br
Uppsala: Marcus Landegren Thurjfjell

