.row
  .col-md-12
    %p
      %span.title Victoria and Tasmania Regions

    %p
      %span.title East Midlands and Yorkshire Cluster
      %br
      Link Tertiary: Jan Davies
    .row
      .col-md-6
        %p
          %span.title Nottingham and South Derbyshire Area
          %br
          Area Minister: Stuart Young
          %br
          Area Formation Guardian: Elizabeth Turner
          %br
          Area Novice Guardian: Noreen Talbot
          %br
          Secretary & Comms: Peter Cozens
          %br
          Treasurer: Mary Green
          %br
          JPIC: John Smart
          %br
          Burton: Yasmin Johnson
          %br
          Clifton: Margaret Kennerley
          %br
          Derby: John Smart
          %br
          Leicester St Aidan: Chris Smith
          %br
          Leicester: Celia Russell
          %br
          North Nottingham: Sue Anderson
          %br
          Rushcliffe: Derrick Gierth
      .col-md-6
        %p
          %span.title Lincoln Area
          %br
          Area Minister: George Parrott
          %br
          Area Formation Guardian: David McCormick
          %br
          Area Novice Guardian: June Freshney
          %br
          Secretary/Treasurer/Comms: Stuart Freshney
          %br
          JPIC: Joan Smith
          %br
          Lindsey: Margaret Bell
          %br
          Edward King: Philip Pelham
          %br
          Juniper: Joan Lonsdale
          %br
          Lincs North: George Walmesley
          %br
          Lincs South: Peter Garland
          %br
          Louth: Ian Partridge