.row
  .col-md-12
    %p.well
      %span.title 
        AFRICA
        %a{href:"http://tssf.org.za/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Cape Town & Eastern Cape and Kokstad

    %p
      %span.title Wales, Severn, West Midlands and The Marches Cluster
      %br
      Link Tertiary: Tim Higgins
    .row
      .col-md-6
        %p
          %span.title Wales Area
          %br
          Area Minister: John Evans
          %br
          Area FG: Gina Silverman
          %br
          Area NG: Jean Rogers
          %br
          Secretary & Comms: Rosamond Evans
          %br
          Treasurer: Clive Warren
          %br
          JPIC: Gina Silverman
          %br
          Bridgend: Rosemary Price
          %br
          Brycheiniog: Jonathan Morgan
          %br
          Cardiff/Gwent: Rosamond Evans
          %br
          Central Cambrian: Julia Lane
          %br
          Eryri: Fiona Huckvale
          %br
          Swansea: Danny Bowen
          %br
          West Wales: John Franks
      .col-md-6
        %p
          %span.title Avon Vale Area
          %br
          Area Minister: Peter Robbins
          %br
          Area FG: Rachel Hall
          %br
          Area NG: Pauline Shaw
          %br
          Secretary & Treasurer: David Ratcliffe
          %br
          Bristol East: Suzy Harvey & Sandy Munday
          %br
          Bristol West: Valerie Peters & David Ratcliffe
 
