.row
  .col-md-12
    %p.well
      %span.title 
        PROVINCE OF THE PACIFIC
        %a{href:"http://www.franciscanthirdorder.godzone.net.nz//", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Solomon Island of Makira; Republic of Vanuatu

    %p
      %span.title Scotland and Ireland Cluster
      %br
      Link Tertiary: Carol Robertson

    %p
      %span.title Scotland Area
      %br
      Area Minister :Jenny Cheesbrough
      %br
      Area FG: John Macleod
      %br
      Area NG: Maureen Russell
      %br
      Secretary & Treasurer: Judy Hirst
      %br
      Area Chaplain: Jennifer Godfrey
      %br
      Retreats Sec: Elaine Jenkinson
      %br
      Central: Judy Hirst
      %br
      Dumfries & Galloway: Ann Gault
      %br
      Edinburgh: Jenny Cheesbrough
      %br
      Fife: Ashley Cummins
      %br
      Helensburgh & Glasgow: Maureen Russell
      %br
      Inverness: Sue Piper