.row
  .col-md-12
    %p.well
      %span.title 
        AFRICA
        %a{href:"http://tssf.org.za/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Lesotho

    .row
      .col-md-6
        %p
          %span.title London and South East England Cluster
          %br
          Link Tertiary: John Wiltshire
        %p
          %span.title Kent West Area
          %br
          Area Minister: Kay Burnett
          %br
          Area FG: Christine Harrison
          %br
          Area NG: Ann Scott
          %br
          Secretary & Comms: Sally Seymour
          %br
          Treasurer: George McCormack
          %br
          Retreat Secretary: Beverly Barsley
          %br
          JPIC: Richard Martin
          %br
          Maidstone: Richard Martin
          %br
          Sevenoaks: Andrew Levick
          %br
          Tunbridge Wells North: Jean Angus
          %br
          Tunbridge Wells South: Sally Seymour
      .col-md-6
        %p
          %span.title Wales, Severn, West Midlands and The Marches Cluster
          %br
          Link Tertiary: Tim Higgins
        %p
          %span.title Severn Area
          %br
          Area Minister: Tony Ross
          %br
          Area FG: Susan Risdon
          %br
          Area NG: Margaret Bettis
          %br
          Secretary & Comms: Richard Venning
          %br
          Treasurer: Adrian Noble
          %br
          JPIC: Pauline Thomas
          %br
          Cirencester: Margaret Maslen
          %br
          Gloucester & the Forest: Judy Cecil
          %br
          Gloucester South: Colin Wood
          %br
          North Cotswolds: Adrian Noble