.row
  .col-md-12
    %p.well
      %span.title 
        EUROPE
        %a{href:"http://tssf.org.uk/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      South West England, Wales, Severn & The Marches
    
    %p 
      %span.title Study and Prayer Enabling Group
      %br
      Lesley Anne Di Marco
      %br
      Denise Mumford
      %br
      Paul Bodenham
      %br
      Hugh Beach
      %br
      Hazel Sharp
      %br
      Vic Vivian
      %br
      Denise Yeldham
      %br
      John SSF