.row
  .col-md-12
    %p
      %span.title Lesotho

    %p
      %span.title London and South East England Cluster
      %br
      Link Tertiary: John Wiltshire
    %p
      %span.title Kent West Area
      %br
      Area Minister: Diana Bourne
      %br
      Area Formation Guardian: Christine Harrison
      %br
      Area Novice Guardian: Ann Scott
      %br
      Secretary: Sally Seymour
      %br
      Treasurer: George McCormack
      %br
      Comms: Beverly Barsley
      %br
      JPIC: Richard Martin
      %br
      Maidstone: Richard Martin
      %br
      Sevenoaks: Andrew Levick
      %br
      Tunbridge Wells North: vacant
      %br
      Tunbridge Wells South: Sally Seymour
    %p
      %span.title Central South England Cluster
      %br
      Link Tertiary: Roger Healey
    %p
      %span.title Sussex Area
      %br
      Area Minister: Lesley-Anne de Marco 
      %br
      Area Formation Guardian: Andrew Mayes 
      %br
      Area Novice Guardian: Teresa Chatfield
      %br
      Secretary: Chris Atfield
      %br
      Treasurer: Christine Moore
      %br
      Comms: Richard Brewester
      %br
      Brighton Central: Kate Hall
      %br
      Chichester: Lou Scott-Joynt 
      %br
      East Sussex: Phyllis Hall
      %br
      Sussex Downs: Richard Brewester
      %br
      Sussex Weald: Christine Moore