.row
  .col-md-12
    %p
      %span.title Malaysia, Singapore, Hong Kong and Thailand

    %p
      %span.title Central and E England Cluster
      %br
      Link Tertiary: Jackie Alexander
    .row
      .col-md-6
        %p
          %span.title East Anglia Area
          %br
          Area Minister: Carolyne Stock
          %br
          Area Formation Guardian: David Capey
          %br
          Area Novice Guardian: Angela Alexander
          %br
          Secretary & Comms: Rachel Cornish
          %br
          Treasurer: Peggy Sargent
          %br
          Retreats Secretary: Roger Rayner
          %br
          Bury St Edmunds: Margaret Ellis
          %br
          Colchester: May Beaven
          %br
          Great Yarmouth: Carol Avery
          %br
          Ipswich: Jonathan McNabb
          %br
          Lowestoft: Pat Vellacot
          %br
          Martlesham: Peggy Sargent
          %br
          Norwich: Roger Rayner
          %br
          Norwich Colegate: Sheila Spreadbury & Janet Tully
          %br
          South Suffolk: Shirley Raines
          %br
          North Norfolk: Jackie Alexander
      .col-md-6
        %p
          %span.title Bedfordshire / Hertfordshire Area
          %br
          Area Minister: Carole Selby
          %br
          Area FG: Iain Lane
          %br
          Area NG & Comms: Gylyan Boielle
          %br
          Secretary: Michael Taylor
          %br
          Treasurer: Joanna Field
          %br
          Bedford & Milton Keynes: Jane Preston
          %br
          Hitchin: Barbara Ebeling
          %br
          St Albans: Pat Brown
          %br
          Welwyn: Elaine Hall