.row
  .col-md-12
    %p
      %span.title New Zealand
      \- Nelson, Canterbury with Otago

    %p
      %span.title North East and North West England Cluster
      %br
      Link Tertiary: Martin Gillham
    .row
      .col-md-6
        %p
          %span.title Borders Area
          %br
          Area Minister: John Beckwith
          %br
          Area FG: Christine Sindall
          %br
          Area NG: Helen Bishopp
          %br
          Secretary & Comms: Mary Wallace
          %br
          Treasurer: Elizabeth Lowrie
          %br
          Cheviot: Patricia Kind
          %br
          Lammermuir: Jennifer Edie
          %br
          Kyloe: John Bradley
      .col-md-6
        %p
          %span.title Newcastle Area
          %br
          Area Minister: Margaret Field
          %br
          Area FG: Ruth Birnie
          %br
          Area NG: Jane Wood
          %br
          Secretary & Treasurer: Steve Bland
          %br
          Coast: Margaret Field
          %br
          Hexham: Jenny Kinnaird
          %br
          Newcastle: Richard Hill