.row
  .col-md-12
    %p.well
      %span.title 
        EUROPE
        %a{href:"http://tssf.org.uk/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      North East & North West England
    
    %p 
      %span.title Provincial Appointments
      %br
      Editor "Little Portion": Verena Tschudin
      %br
      Editor, Third Order News: Sue Charles
      %br
      Membership Secretary: Mollie Kingham
      %br
      Forces' Pastoral Officer: Vacant
      %br
      Treasurer Knox-Dick Fund: Rachel Cornish
      %br
      Treasurer/Secretary TSSF Central Fund: Robert Dimmick
      %br
      Intercessions List Compiler: Mollie Kingham
    .row
      .col-md-6
        %p
          %span.title Provincial Disability Advice Team
          %br
          Margaret Armstrong  
          %br
          Philip Blundell
          %br
          Stephen Nutt
      .col-md-6
        %p
          %span.title Formation Team
          %br
          Paul Bodenham
          %br
          Peter Dixon
          %br
          Gina Silverman
          %br
          Alan Williams
          %br
          Lesley Anne Di Marco
 
