.row
  .col-md-12
    %p.well
      %span.title 
        THE AMERICAS
        %a{href:"http://tssf.org/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Caribbean, Virgin Islands, Trinidad and Tobago, Dominican Republic, Jamaica, Nevis, Costa Rica

    %p
      %span.title South West England Cluster
      %br
      Link Tertiary: Hazel Sharp
    .row
      .col-md-6
        %p
          %span.title Wessex Area
          %br
          Area Minister: Renée Coulson
          %br
          Area FG: Anne Bennett-Shaw & Ann Morland
          %br
          Area NG: Michael Sammes
          %br
          Secretary & Comms: Rona Duncan
          %br
          Treasurer: Bill Markham
          %br
          JPIC: Joanna Woodd
          %br
          Bournemouth :Graham Newton
          %br
          North: Wilts Vacant
          %br
          Salisbury: Simon & Becky Wilkinson
          %br
          Warminster: Anne Bennett-Shaw
      .col-md-6
        %p
          %span.title Blackmore Vale Area
          %br
          Area Minister: Els Jolly
          %br
          Area FG: Keith & Linda Chambers
          %br
          Area NG: John Reynolds
          %br
          Secretary & Comms: Michael Oram
          %br
          Treasurer: Kenneth Lamb
          %br
          JPIC: Susan Farley
          %br
          Poole: Ian Jolly
          %br
          Shaftesbury: Vacant
          %br
          South: Robert Harley
          %br
          Wareham: Mike Farley
