.row
  .col-md-12
    %p
      %span.title New Zealand
      \- North Island Central, Wellington

    %p
      %span.title North East and North West England Cluster
      %br
      Link Tertiary: Martin Gillham
    .row
      .col-md-6
        %p
          %span.title Cumbria and Lancashire Area
          %br
          Area Minister: Andrew Schofield
          %br
          Area FG: Peter Law-Jones
          %br
          Area NG: Dorothy Craig
          %br
          Secretary & Comms: Peter Hapgood-Strickland
          %br
          Treasurer: Ann Armer
          %br
          East Lancs: Peter Hallett
          %br
          West Lancs: Audrey Goldie
          %br
          South Lakes: Philip Blundell
          %br
          North Cumbria: Susan Holmes
      .col-md-6
        %p
          %span.title Mersey Valley Area
          %br
          Area Minister: James Read
          %br
          Area FG: Felicity Shaw
          %br
          Area NG: Jeremy Plummer
          %br
          Secretaries: John & Alison Wotherspoon
          %br
          Treasurer: John Wotherspoon
          %br
          Comms: Alison Wotherspoon
          %br
          Isle of Man: Vacant
          %br
          Liverpool: Alison Wotherspoon
          %br
          Manchester: Jeremy Plummer