.row
  .col-md-12
    %p
      %span.title The Province of the Americas
      %br
      Minister Provincial: John Brockman
      %br
      United States including Puerto Rico

    %p
      %span.title South West England, Wales, Severn & The Marches
    .row
      .col-md-6
        %p
          %span.title Blackmore Vale Area
          %br
          Area Minister: Els Jolly
          %br
          Area Formation Guardian: vacant
          %br
          Area Novice Guardian: John Reynolds
          %br
          Secretary: vacant
          %br
          Treasurer: Kenneth Lamb
          %br
          Comms: Mike Oram
          %br
          JPIC: Susan Farley
          %br
          Poole: Ian Jolly
          %br
          Shaftesbury: vacant
          %br
          South: Robert Harley
          %br
          Wareham: Mike Farley
          %br
          Yeovil: Kenneth Lamb
      .col-md-6
        %p
          %span.title Devon Area
          %br
          Area Minister: Martin Shaw
          %br
          Area Formation Guardian: Vera Allen
          %br
          Area Novice Guardian: Amanda Thompson
          %br
          Secretary & Comms: Clare Stanbury
          %br
          Treasurer: Jane Scriven
          %br
          JPIC: Steve Jones
          %br
          Exeter: Heather Bune
          %br
          Exmouth: Pam Pearson
          %br
          North: Sally Rice
          %br
          Plymouth: vacant
          %br
          Torbay: vacant