.row
  .col-md-12
    %p.well
      %span.title 
        PROVINCE OF THE PACIFIC
        %a{href:"http://www.franciscanthirdorder.godzone.net.nz/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Solomon Islands of Guadalcanal and Savo

%p
%span.title The Bishop Protector, Minister General and Provincial Officers
%br
Bishop Protector: Michael Perham
%br
Minister General: Ken Norian
%br
Minister Provincial: Averil Swanton
%br
Formation Guardian: Paul Bodenham
%br
Novice Guardian: Peter Dixon
%br
Provincial Secretary: Howard McFadyen
%br
Provincial Treasurer: John Reynolds
%br
Communications Coordinator: Chris Petrie
%br
Chapter Minutes Secretary: Jennifer Robinson

