.row
  .col-md-12
    %p.title North East & North West England
    
    %p 
      %span.title Provincial Appointments
      %br
      Editor, "Little Portion": Verena Tschudin
      %br
      Editor, Third Order News: Roger Marks
      %br
      Membership Secretary & Intercessions List Compiler: Mollie Kingham
      %br
      Webmaster: Vacant
      %br
      Forces’ Pastoral Officer: Tony Gilbert
      %br
      Disability Advisor: Vacant
      %br
      Treasurer Knox-Dick Fund: Rachel Cornish

    %p 
      %span.title Formation Team
      %br
      Paul Bodenham; Philippa Bird; Carole Selby; Alan Williams; Jeremy Plummer; Lesley Anne Di Marco; Jackie Alexander