.row
  .col-md-12
    %p 
      %span.title Solomon Islands
      \- Isabel, Malaita

    %p
      %span.title Sweden Area
      %br
      Area Minister: Christer Säll
      %br
      Area Formation Guardian: Peder Bergquist
      %br
      Area Novice Guardian: Margareta Stiernspetz
      %br
      Secretary: Jan-Eric Jonsgården
      %br
      Treasurer: Katarina Jansson Jerkeman
      %br
      Falun: Gun-Brit Ericson
      %br
      Linköping Mats Fransson
      %br
      Uppsala Marcus Landegren Thurjfjell
      %br
      Göthenborg Niklas Lindén
      %br
      Stockholm Margareta Stiernspetz