.row
  .col-md-12
    %p
      %span.title Durban and Johannesburg

    %p
      %span.title Central South England Cluster
      %br
      Link Tertiary: Roger Healey
    .row
      .col-md-6
        %p
          %span.title Solent Area
          %br
          Area Minister: Heather Hall (from 5 Oct)
          %br
          Area Formation Guardian: James Tabor
          %br
          Area Novice Guardian: Jenny Owens
          %br
          Secretary & Comms: Jean Compton
          %br
          Treasurer: Cathy Juniper
          %br
          Retreats: Paul Bailey
          %br
          Isle of Wight: John Garrett
          %br
          Meon Group: Jean Compton
          %br
          Portsmouth: Maggie MacBeth
      .col-md-6
        %p
          %span.title Berkshire Area
          %br
          Area Minister: Robert Dimmick
          %br
          Area Formation Guardian: Andy Harris
          %br
          Area Novice Guardian: Nanette Shaw
          %br
          Secretary & Comms: Aidan Hopkins
          %br
          Treasurer: Stephen Cousins
          %br
          JPIC: Luci Heyn
          %br
          Central: Denise Easteal
          %br
          East: Lin Howland
          %br
          West: Jane Sigrist