.row
  .col-md-12
    %p
      %span.title Ghana

    %p
      %span.title Central South England Cluster
      %br
      Link Tertiary: Roger Healey
    %p
      %span.title Winchester Area
      %br
      Area Minister: Gillian Hargreaves
      %br
      Area Formation Guardian: Susan Halliwell
      %br
      Area Novice Guardian: Nigel Herriott
      %br
      Secretary & Comms: Christine Pilgrim
      %br
      Treasurer: Eva Prowse
      %br
      JPIC: Jenny Mole
      %br
      Southampton: Lesley Cunningham
      %br
      Winchester: Margaret Mouland
    %p
      %span.title South West England Cluster
      %br
      Link Tertiary: Hazel Sharp
    %p
      %span.title Wessex Area
      %br
      Area Minister: Renée Coulson
      %br
      Area Formation Guardian: Ann Morland & Anne Bennett-Shaw
      %br
      Area Novice Guardian: Michael Sammes
      %br
      Secretary & Comms: Alison Hoskins
      %br
      Treasurer: Bill Markham
      %br
      Bournemouth: Graham Newton
      %br
      North Wilts: Vacant
      %br
      Salisbury: Simon & Becky Wilkinson
      %br
      Warminster: Anne Bennett-Shaw