.row
  .col-md-12
    %p
      %span.title Solomon Islands
      \- Makira; Vanuatu

    %p
      %span.title Scotland and Ireland Cluster
      %br
      Link Tertiary: Carol Robertson

    %p
      %span.title Scotland Area
      %br
      Area Minister: Tim Daplyn
      %br
      Area Formation Guardian: John Macleod
      %br
      Area Novice Guardian: Maureen Russell
      %br
      Secretary & Treasurer: Judy Hirst
      %br
      Area Chaplain Jennifer Godfrey
      %br
      Retreats Secretary: Elaine Jenkinson
      %br
      Central: Judy Hirst
      %br
      Dumfries & Galloway: Ann Gault
      %br
      Edinburgh: Jenny Cheesbrough
      %br
      Fife: Ashley Cummins
      %br
      Helensburgh & Glasgow: Maureen Russell
      %br
      Inverness: Sue Piper