.row
  .col-md-12
    %p.well
      %span.title 
        THE AMERICAS
        %a{href:"http://tssf.org/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Brazil and Guyana

    %p
      %span.title Central South England Cluster
      %br
      Link Tertiary: Roger Healey
    .row
      .col-md-6
        %p
          %span.title Channel Islands Area
          %br
          Area Minister Jan le Billon
          %br
          Area FG: Margaret Boden-Heaume
          %br
          Area NG: Christine Shaw
          %br
          Secretary & Comms: Anita Carey
          %br
          Treasurer: Sue Dryden
          %br
          Guernsey: Anita Carey
          %br
          Jersey: Daphne Hawel
      .col-md-6
        %p
          %span.title Solent Area
          %br
          Area Minister: Heather Hall
          %br
          Area FG: James Tabor
          %br
          Area NG: Jenny Owens
          %br
          Secretary & Comms: Jean Compton
          %br
          Treasurer: Cathy Juniper
          %br
          Retreats Sec: Paul Bailey
          %br
          Isle of Wight: John Garrett
          %br
          Meon Group: Jean Compton
          %br
          Portsmouth: Maggie MacBeth
 
