.row
  .col-md-12
    %p.well
      %span.title 
        EUROPE
        %a{href:"http://tssf.org.uk/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      East Midlands & Yorkshire
    .row
      .col-md-6
        %p 
          %span.title Communications Team
          %br
          Chris Petrie
          %br
          Margaret Armstrong  
          %br
          Sue Charles
          %br
          Sue Green
          %br
          Mollie Kingham
          %br
          John Reynolds
          %br
          Verena Tschudin
      .col-md-6
        %p
          %span.title Little Portion Editorial Team
          %br
          Verena Tschudin
          %br
          Paul Bodenham
          %br
          Lesley Anne Di Marco
          %br
          Anne Spalding
          %br
          Caroline Ugbo
          %br
          Joyce CSF
    .row
      .col-md-6
        %p
          %span.title Third Order Distribution
          %br
          Sue Green
          %br
          Hugh Dalton
          %br
          Esther Partridge
      .col-md-6
        %p
          %span.title Web Team
          %br
          Ben Davies
          %br
          Ben Gibbs
          %br
          Chris Petrie
 
