.row
  .col-md-12
    %p.title South East England & London; Central South England
    
    %p 
      %span.title Justice, Peace and the Integrity of Creation Steering Group
      %br
      Caroline Ugbo; Philippa Bird; Jenny Owens; Joan Smith; Richard Brewester; Jenny Tee CSF; Hugh SSF