.row
  .col-md-12
    %p.well
      %span.title 
        PROVINCE OF THE PACIFIC
        %a{href:"http://franciscan.org.nz/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Aotearoa-New Zealand – Auckland, Waikato, Bay of Plenty

    %p
      %span.title Ireland Area
      %br
      Area Minister: Sue Grier
      %br
      Area FG: Hilary Ardis
      %br
      Area NG: Freda Keys
      %br
      Secretary & Comms: Shelagh Norton
      %br
      Treasurer: Lorraine Hunter
      %br
      Ireland North: Freda Keys
      %br
      Ireland South: Vacant