.row
  .col-md-12
    %p
      %span.title European Province
      %br
      Minister Provincial: Averil Swanton

    %p Sweden, Ireland & Scotland

    %p All Enquirers, Aspirants, Postulants and Novices