.row
  .col-md-12
    %p.title Central & Eastern England
    
    %p 
      %span.title Contemplative Steering Group
      %br
      Anne Spalding; Alan Llewellyn; Jan Davies; Simon McMurtary; Stuart Young

    %p 
      %span.title Franciscan Aid
      %br
      Helen Mossop; Roland Randall

    %p 
      %span.title Provincial Engagements Group (of C/SSF)
      %br
      Hazel Sharp