.row
  .col-md-12
    %p.well
      %span.title 
        THE AMERICAS
        %a{href:"http://tssf.org/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Mexico

    %p
      %span.title South West England Cluster
      %br
      Link Tertiary: Rona Duncan
    %p
      %span.title Somerset Area
      %br
      Area Minister: Shirley Farrington
      %br
      Area FG: Jess Bromfield
      %br
      Area NG: Richard Clegg
      %br
      Secretary: Lucy Hemsley
      %br
      Treasurer: Marlene Phillips
      %br
      Comms: Christopher Jenkins
      %br
      JPIC: Julie Kimber
      %br
      Illminster (Acting): Jess Bromfield
      %br
      La Verna: Sylvia Sims
      %br
      Langport & Wells: Andrew Hemming
      %br
      Taunton: Marlene Phillips
    %p
      %span.title General Chapter Steering Group
      %br
      Paul Bodenham
      %br
      Freda Alexander
      %br
      Chris Blackwell
      %br
      Hilary Healey
      %br
      Anne-Marie Organ
      %br
      Francis Rothery
      %br
      Carole Selby
      %br
      Carolyn Tovey

