.row
  .col-md-12
    %p.well
      %span.title 
        PROVINCE OF THE PACIFIC
        %a{href:"http://www.franciscanthirdorder.godzone.net.nz/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      North Island Central, Wellington

    %p
      %span.title North East and North West England Cluster
      %br
      Link Tertiary: Jeremy Plummer
    .row
      .col-md-6
        %p
          %span.title Cumbria and Lancashire Area
          %br
          Area Minister: Andrew Schofield
          %br
          Area FG: Catherine Livesey
          %br
          Area NG: Margaret Jenkinson
          %br
          Secretary & Comms: Peter Hapgood-Strickland
          %br
          Treasurer: Judith Harvey
          %br
          East Lancs: Joan Parsons
          %br
          North Cumbria: Susan Holmes
          %br
          South Lakes: Philip Blundell
          %br
          West Lancs: Audrey Goldie

      .col-md-6
        %p
          %span.title Mersey Valley Area
          %br
          Area Minister: Derek French
          %br
          Area FG: Felicity Shaw
          %br
          Area NG: James Read
          %br
          Secretaries: John & Alison Wotherspoon
          %br
          Treasurer: John Wotherspoon
          %br
          Comms: Alison Wotherspoon
          %br
          Liverpool: Alison Wotherspoon
          %br
          Manchester: Debby Plummer assisted by Kathryn de Belle