.row
  .col-md-12
    %p.well
      %span.title 
        AUSTRALIA WITH PAPUA NEW GUINEA AND EAST ASIA
        %a{href:"http://tssf.org.au/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      South Australia, Western Australia region

    %p
      %span.title Central and E England Cluster
      %br
      Link Tertiary: Carole Selby
    .row
      .col-md-6
        %p
          %span.title Northampton Area
          %br
          Area Minister: Jennie Loasby
          %br
          Area FG: Brian Lee
          %br
          Area NG: Ann Faulks
          %br
          Secretary & Comms: John Tearnan
          %br
          Treasurer: Brian Lee
          %br
          JPIC: Peter Cannings
          %br
          Kettering: Doreen Lambert
          %br
          Kibworth: David Faulks
          %br
          Northampton: Beryl Gill
          %br
          Rutland: Andrew Rayment & Jan Collins

      .col-md-6
        %p
          %span.title Oxford Area
          %br
          Area Minister: Steve Green
          %br
          Area FG: Jan McLeod
          %br
          Area NG: John de Wit
          %br
          Secretary & Comms: Joyce Day
          %br
          Treasurer: Nick Hance
          %br
          JPIC: Thalia Carr
          %br
          Retreats: Lesley Sutton
          %br
          Bedouins: Joyce Day
          %br
          Coseners: Elizabeth Knowles & Fran Childs
          %br
          Isis: Jon Bowden
          %br
          Pilgrims: Ginny Ross
          %br
          Seekers: Sue Green
          %br
          Siblings: Thalia Carr
          %br
          Stepping Stones: Hugh Dalton
          %br
          Windrush: Margaret Williams
