.row
  .col-md-12
    %p.well
      %span.title 
        AUSTRALIA WITH PAPUA NEW GUINEA AND EAST ASIA
        %a{href:"http://tssf.org.au/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Queensland A, Queensland B regions
    .row
      .col-md-6
        %p
          %span.title North East and North West England Cluster
          %br
          Link Tertiary: Jeremy Plummer
        %p
          %span.title Durham Area
          %br
          Area Minister: Julian Ward
          %br
          Area FG: Simeon Bishop
          %br
          Area NG: Gillian Willmore
          %br
          Secretary & Comms: Susan Short
          %br
          Treasurer: David Broughton
          %br
          Durham Central: Margaret Lumley
          %br
          Durham West: Mary Goundry
          %br
          Gateshead: Brian Patterson
          %br
          Hartlepool: Margaret Randall
      .col-md-6
        %p
          %span.title East Midlands and Yorkshire Cluster
          %br
          Link Tertiary: Jan Davies
        %p
          %span.title Yorkshire North and East Area
          %br
          Area Minister: Carole Aconley
          %br
          Area FG: Valerie Bucknall
          %br
          Area NG & Comms: Brenda Hewitt
          %br
          Secretary: Elizabeth Williams
          %br
          Treasurer: Jacqueline Tonkin
          %br
          Retreats Sec: Jenny Spruce
          %br
          East Riding: John Wardle
          %br
          Ripon: Margaret Cooper & Jenny Spruce
          %br
          Ryedale: William Page
          %br
          York: Vacant
