.row
  .col-md-12
    %p.well
      %span.title 
        THE AMERICAS
        %a{href:"http://tssf.org/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Canada

    %p
      %span.title South West England Cluster
      %br
      Link Tertiary: Hazel Sharp
    .row
      .col-md-6
        %p
          %span.title Devon Area
          %br
          Area Minister: Pauline Primrose
          %br
          Area FG: Vera Allen
          %br
          Area NG: Amanda Thompson
          %br
          Secretary & Comms: Nigel Coke-Woods
          %br
          Treasurer: Jane Scriven
          %br
          JPIC: Nicola Hunt
          %br
          East Devon: Heather Bune
          %br
          Exeter: Rita Hills
          %br
          Exmouth: Pam Pearson
          %br
          North: Sally Rice
          %br
          Plymouth: Wendy Pezzey
          %br
          Torbay: Valerie Page
      .col-md-6
        %p
          %span.title Cornwall Area
          %br
          Area Minister: Olive Stevens
          %br
          Area FG: Christine Lidgley
          %br
          Area NG: Yvonne Knibbs
          %br
          Secretary: Jenny Sheffield
          %br
          Treasurer: Mary Richards
          %br
          Comms: Clive Cresswell
          %br
          Liskeard: Liz Piper
          %br
          N Cornwall: Vacant
          %br
          St Austell: Maggie Grigg
          %br
          St Ives: Caroline Attwood
          %br
          Truro: Sandra Lawrance
          %br
          Truro B: Clive Cresswell