.row
  .col-md-12
    %p.well
      %span.title 
        AUSTRALIA WITH PAPUA NEW GUINEA AND EAST ASIA
        %a{href:"http://tssf.org.au/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Victoria / Tasmania region

    %p
      %span.title East Midlands and Yorkshire Cluster
      %br
      Link Tertiary: Jan Davies
    .row
      .col-md-6
        %p
          %span.title Nottingham and South Derbyshire Area
          %br
          Area Minister: Stuart Young
          %br
          Area FG: Elizabeth Turner
          %br
          Area NG: Noreen Talbot
          %br
          Secretary & Comms: Peter Cozens
          %br
          Treasurer: Cheryl Henderson
          %br
          JPIC: John Smart
          %br
          Area Pastoral Co-ordinator: Joyce Turley
          %br
          Burton: Yasmin Johnson
          %br
          Clifton: Margaret Kennerley
          %br
          Derby: John Smart
          %br
          Leicester: Roger Willson
          %br
          Leicester St Aidan: Chris Smith
          %br
          North Nottingham: Sue Anderson
          %br
          Rushcliffe: Derrick Gierth

      .col-md-6
        %p
          %span.title Lincoln Area
          %br
          Area Minister: George Parrott
          %br
          Area FG: Vacant
          %br
          Area NG: June Freshney
          %br
          Secretary & Comms: Alan Walmsley
          %br
          Treasurer: Stuart Freshney
          %br
          JPIC: Joan Smith
          %br
          Edward King: Philip Pelham
          %br
          Juniper: Joanna Finegan
          %br
          Lincs North: George Walmesley
          %br
          Lincs South: Peter Garland
          %br
          Lindsey: Margaret Bell
          %br
          Louth: Ian Partridge
