.row
  .col-md-12
    %p
      %span.title Papua New Guinea

    %p
      %span.title Central and E England Cluster
      %br
      Link Tertiary: Jackie Alexander
    .row
      .col-md-6
        %p
          %span.title Chiltern Area
          %br
          Area Minister: Christopher Nickless
          %br
          Area Formation Guardian: Jean Smith
          %br
          Area Novice Guardian: Nicola Gilbert
          %br
          Secretary & Treasurer: Elizabeth Nickless
          %br
          Comms: Susan Fellows
          %br
          Ducks: Sheila Hazell
          %br
          Firecrest: Marie Carey
          %br
          Swans: Christopher Nickless
      .col-md-6
        %p
          %span.title Cambridge Area
          %br
          Area Minister: Richard Ames Lewis
          %br
          Area Formation Guardian: Malcolm Barratt
          %br
          Area Novice Guardian: Sue Ginsberg
          %br
          Secretary: Katharine Ames Lewis
          %br
          Treasurer: Susan Pitts
          %br
          Comms: Anne Lindley
          %br
          Retreats Secretary: Katherine Ames Lewis
          %br
          JPIC: vacant
          %br
          Cambridge 12 o'clock: Katherine Ames Lewis
          %br
          Fledglings: Rachel Holdforth
          %br
          Fourth/Fen: Janie Hull
          %br
          Huntingdon: Christine Titmus
          %br
          Linton: David Matthiae
          %br
          St Clare: Alison Campbell