.row
  .col-md-12
    %p
      %span.title Tanzania, Zambia

    %p
      %span.title London and South East England Cluster
      %br
      Link Tertiary: John Wiltshire
    .row
      .col-md-6
        %p
          %span.title London West Area
          %br
          Area Minister: Nick Mercer
          %br
          Area Formation Guardian: Lydia McLean
          %br
          Area Novice Guardian: Denise Yeldham
          %br
          Secretary/Treasurer/Comms: Nick Mercer
          %br
          JPIC: Denise Yeldham
          %br
          Chelsea: Enid Long
          %br
          Middlesex: Tony Andrews
          %br
          Paddington: Mary Tweedie
          %br
          North London: Emily Miller
          %br
          Finland: Matti Kristola
      .col-md-6
        %p
          %span.title Canterbury Area
          %br
          Area Minister: Roz Graham
          %br
          Area Formation Guardian: David de Verny
          %br
          Area Novice Guardian: Ernest Gray
          %br
          Secretary & Comms: Charlotte Ferris
          %br
          Treasurer: Tom Platt
          %br
          JPIC: John Morrison
          %br
          Canterbury: Grahame Whittlesea
          %br
          Folkestone: Janet Thornby
          %br
          Medway: Ernie Gray
          %br
          Sandwich: Charlotte Ferris