.row
  .col-md-12
    %p.well
      %span.title 
        EUROPE
        %a{href:"http://tssf.org.uk/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      South East England and London, Central South England
    
    %p 
      %span.title Justice, Peace and the Integrity of Creation Steering Group
      %br
      Caroline Ugbo
      %br
      Richard Brewester
      %br
      Tim Higgins
      %br
      Jenny Owens
      %br
      Jeremy Plummer
      %br
      Gina Silverman
      %br
      Denise Yeldham
      %br
      Hugh SSF
      %br
      Maureen CSF
 
