.row
  .col-md-12
    %p
      %span.title Aotearoa - New Zealand:
      Auckland, Waikato, Bay of Plenty

    %p
      %span.title Ireland Area
      %br
      Area Minister: Sue Grier
      %br
      Area FG Hilary: Ardis
      %br
      Area NG: Freda Keys
      %br
      Secretary & Comms: Shelagh Norton
      %br
      Treasurer: Lorraine Hunter
      %br
      Ireland North: Freda Keys
      %br
      Ireland South: Désirée Prole