.row
  .col-md-12
    %p.title East Midlands & Yorkshire
    
    %p 
      %span.title Communications Team
      %br
      Chris Petrie; Sue Green; Roger Marks; Mollie Kingham; John Reynolds; Verena Tschudin

    %p 
      %span.title "Little Portion" Editorial Team
      %br
      Verena Tschudin; Paul Bodenham; Roger Healey; Lesley Anne Di Marco; Anne Spalding; Caroline Ugbo; Joyce CSF; Chris Petrie

    %p 
      %span.title Third Order Distribution
      %br
      Sue Green; Hugh Dalton; Esther Partridge