.row
  .col-md-12
    %p.well
      %span.title 
        EUROPE
        %a{href:"http://tssf.org.uk/", target: "_blank"}
          %i.fa.fa-external-link
      %br
      Central & Eastern England
    
    %p 
      %span.title Contemplative Steering Group
      %br
      Anne Spalding
      %br
      Alan Llewellyn 
      %br
      Jan Davies
      %br
      Simon McMurtary
      %br
      Stuart Young
    %p
      %span.title The Wayfarers
      %br
      Mike Farley
    %p
      %span.title Franciscan Aid
      %br
      Peter Cannings
      %br
      Roland Randall
      %br
      Angela Alexander
 
