.row
  .col-md-12
    %p.title South West England, Wales, Severn & The Marches
    
    %p 
      %span.title Study and Prayer Enabling Group
      %br
      Lesley Anne Di Marco; Denise Mumford; Paul Bodenham; Hugh Beach; Hazel Sharp; Vic Vivian; Denise Yeldham; John SSF