.row
  .col-md-12.reading
    %p
      O God, by the life of blessed Francis 
      %br
      you moved your people to a love of simple things: 
      %br
      may we, after his example, 
      %br
      hold lightly to the things of this world 
      %br
      and store up for ourselves treasure in heaven 
      %br
      through Jesus Christ our Lord. Amen.