.row
  .col-md-12.reading
    %p
      Almighty God, your love led Francis and Clare 
      %br
      to establish our three orders: 
      %br
      draw us into your love 
      %br
      that we may grow in love towards all those we know, 
      %br
      for the sake of your Son, Jesus Christ, 
      %br
      who gives himself in love to all. Amen. 