.row
  .col-md-12.reading
    %p
      O God, you resist the proud 
      %br
      and give grace to the humble: 
      %br
      help us not to think proudly, 
      %br
      but to serve you with humility that pleases you, 
      %br
      so we may walk in the steps of your servant Francis 
      %br
      and receive the gift of your grace; 
      %br
      through Jesus Christ our Lord. Amen.