.row
  .col-md-12.reading
    %p
      Merciful God, you have made your church rich 
      %br
      through the poverty of blessed Francis: 
      %br
      help us like him, not to trust in earthly things, 
      %br
      but to seek your heavenly gifts 
      %br
      through Jesus Christ our Lord, Amen.