.row
  .col-md-12.reading
    %p
      Lord, without you our labour is wasted, 
      %br
      but with you all who are weak can find strength: 
      %br
      pour your Spirit on the Society of St Francis; 
      %br
      give your labourers a pure intention, 
      %br
      patient faith, sufficient success on earth, 
      %br
      and joy of serving you in heaven, 
      %br
      through Jesus Christ our Lord. Amen.