.row
  .col-md-12.reading
    %p
      Heavenly Father, 
      %br
      you are always pleased to show yourself  
      %br
      to those who are childlike and humble in spirit: 
      %br
      help us to follow the example of our blessed father Francis, 
      %br
      to look upon the wisdom of this world as foolishness, 
      %br
      and set our minds only on Christ Jesus and him crucified;
      %br
      to whom with you and the Holy Spirit be all glory for ever. Amen