%p.title The First Aim of the Order  (continued)

.reading
  %p The primary aim for us as Tertiaries is therefore to make Christ known. This shapes our lives and attitudes to reflect the obedience of those whom our Lord chose to be with Him and sent out as his witnesses. Like them, by word and example, we bear witness to Christ in our own immediate environment and pray and work for the fulfilment of his command to make disciples of all nations.