%p.title The Third Aim (continued)

.reading
  %p Personal spending is limited to what is necessary for the health and well-being of us and of our dependants. We aim to stay free from all attachment to wealth, keeping ourselves constantly aware of the poverty in the world and its claim on us. We are concerned more for the generosity that gives all, rather than the value of poverty in itself. In this way we reflect in spirit the acceptance of Jesus’ challenge to sell all, give to the poor, and follow him.