%p.title The Second Way of Service: Study

.reading
  %p 'This is eternal life: to know You the only true God, and Jesus Christ whom You have sent.' John 17.3
  %p True knowledge is knowledge of God. Tertiaries therefore give priority to devotional study of scripture as one of the chief means of attaining that knowledge of God that leads to eternal life.