%p.title The Third Note (continued)

.reading
  %p This joy is a divine gift, coming from union with God in Christ. It is still there even in times of darkness and difficulty, giving cheerful courage in the face of disappointment, and an inward serenity and confidence through sickness and suffering. Those who possess it can rejoice in weakness, insults, hardships, and persecutions for the sake of Christ; for when we are weak, then we are strong.